{% extends "base.html.twig" %}
{% block navTitle %}Create your account{% endblock %}
{% block content %}
    <h3 class="postTitle">CREATE YOUR ACCOUNT</h3>
    {{ parent() }}
    <div class="example-wrapper">
    <div class="form">
        {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {{ form_row(form.roles) }}
        {% else %}
        <div style="display: none;">{{ form_row(form.roles) }}</div>
        {% endif %}
        <button class="btn btn-primary" type="submit">Send it</button>
        <button type="button" class="btn btn-secondary" value="Cancel" onclick="history.back();">Cancel</button>
        {{ form_end(form) }}
    </div>
    </div>
{% endblock %}