{% extends "base.html.twig" %}
{% block navTitle %}Posts page{% endblock %}
{% block content %}
    <h3 class="postTitle">ALL THE POSTS</h3>
    {% if posts %}
        <div class="card-display">
            {% for post in posts %}
                <div class="card" style="width: 20rem; height: 22rem;">
                    {% if post.img %}
                        <img src="../pictures/{{ post.img }}" class="card-img-top" alt="image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.titre }}</h5>
                        <p class="card-text">{{ post.description|length > 50 ? post.description|slice(0,50) ~ '...' : post.description }}</p>
                        <div class="card-content-layout">
                            <a href="{{ path('app_one_post', {id:post.id}) }}" class="btn btn-primary">read more</a>
                            <span class="upvote">
                    <img src="../../assets/upvote.png" width="15" height="15">
                    126
                    </span>
                            <span class="comment">
                    <img src="../../assets/comment.png" width="15" height="15">
                    16
                    </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-light" role="alert">
            A problem has occured while retrieving the posts... We're working on resolving it, try again later :)
        </div>
    {% endif %}
    <a type="button" class="btn btn-primary" href="{{ path('app_post_add') }}">Add a post</a>
{% endblock %}